<mat-toolbar class="toolbar">
    <div class="content-left">
        <button mat-icon-button class="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <p>Resume Builder</p>
    </div>
    
    <div class="buttons-right">
        <div style="font-size: large; margin-right: 5px;">
            Sign in
        </div>
            <button id="login-btn" class="login-button">Login</button>
        <div>
            <button (click)="aboutUs()" mat-raised-button>About Us</button>
        </div>
    </div>
</mat-toolbar>